@model IEnumerable<Demosthenes.Core.ViewModels.ApplicationUserViewModel>

@{
    ViewBag.Title = "Administrators";
}

@Html.Partial("_Title")

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { id = "delete" + user.Id + "Form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("Id", user.Id)

                        <a href="javascript:document.getElementById('delete@(user.Id)Form').submit()"
                           class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-floppy-remove"></span> Delete</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
