@model IPagedList<Course>

@{
    ViewBag.Title = "Courses";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/elements/btn-submitter.js")
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_Title")

<div class="row">
    <div class="col-md-10">
        @Html.Partial("_Search", "/Courses")
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-2 text-right">
            <a href="@Url.Action("Create")" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create department</a>
        </div>
    }
</div>

<div id="list-search">
    @Html.Partial("_List", Model)
</div>

