@model IEnumerable<Post>

@{
    ViewBag.Title = "Posts";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/elements/danger-dialog.js")
    @Scripts.Render("~/Scripts/app/elements/btn-submitter.js")
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_DangerDialog")
@Html.Partial("_Title")
@Html.Partial("_Search", "/Posts")

<div id="list-search">
    @Html.Partial("_List", Model)
</div>