@model IPagedList<Department>

@{
    ViewBag.Title = "Departments";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/elements/btn-submitter.js")
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_Title")

<div class="row">
    <div class="col-md-10">
        @Html.Partial("_Search", "/Departments")
    </div>
    <div class="col-md-2 text-right">
        <a href="@Url.Action("Create")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create department</a>
    </div>
</div>

<div id="list-search">
    @Html.Partial("_List", Model)
</div>