@model Demosthenes.Core.ViewModels.CalendarViewModel

@{
    ViewBag.Title = "Calendar";
    ViewBag.Lead = ViewBag.Term + " - " + ViewBag.year;
}

@Html.Partial("_Title")

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>

            @foreach (var day in (string[])Enum.GetNames(typeof(DayOfWeek)))
            {
                <th>@day</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var time in ViewBag.startingTimes)
        {
            <tr>
                <td>@time</td>

                @foreach (var day in (DayOfWeek[])Enum.GetValues(typeof(DayOfWeek)))
                {
                    <td>
                        @{ var c = @Model.Class(day, time); }

                        @if (c != null)
                        {
                            @c.Course.Title
                            <span class="label label-default">@c.Id</span>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
