@model IPagedList<Class>

@{
    ViewBag.Title = "Enrollment";
    ViewBag.Lead = "of " + User.Identity.GetUserName();
}

@section scripts {
    @Scripts.Render("~/Scripts/app/elements/progress-bar.js")
    @Scripts.Render("~/Scripts/app/ajax/calendar.js")
    @Scripts.Render("~/Scripts/app/elements/btn-submitter.js")
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_DangerDialog")
@Html.Partial("_Title")

<div id="calendar">
    <div id="calendar-container"></div>
    <button type="button" id="calendar-load-btn" data-loading-text="Loading..." class="btn btn-sm btn-link">
        <span class="glyphicon glyphicon-cloud-download"></span>
        <span id="calendar-load-text">Try again</span>
    </button>
</div>

<div class="row">
    @Html.Partial("_Search", "/Enrollment")
</div>

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
