@model ProfessorViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Lead = "professor";
}

@Html.Partial("_Title")


@Html.DisplayFor(model => model.Email)
@if (Model.EmailConfirmed)
{
    <span class="label label-info">confirmed</span>
}
else
{
    <span class="label label-warning">not confirmed</span>
}
<br />

@if (User.IsInRole("admin"))
{
    @Html.DisplayFor(model => model.SSN)
    <br />
}

@if (!Model.PhoneNumber.IsEmpty())
{
    @Html.DisplayFor(model => model.PhoneNumber)
    if (Model.PhoneNumberConfirmed)
    {
        <span class="label label-info">confirmed</span>
    }
    else
    {
        <span class="label label-warning">not confirmed</span>
    }
    <br />
}

Department of @Html.DisplayFor(model => model.Department.Name)
<br />