@model IEnumerable<ProfessorViewModel>

@{
    ViewBag.Title = "Professors";
    ViewBag.Lead = "";
}

@Html.Partial("_Title")

@if (User.IsInRole("admin"))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <strong>
                @Html.DisplayFor(modelItem => item.Name)
            </strong>
            <br />
            @Html.DisplayFor(modelItem => item.Email)
            <br />
            @Html.DisplayFor(modelItem => item.PhoneNumber)
            <br />
            @if (User.IsInRole("admin"))
            {
                @Html.DisplayFor(modelItem => item.SSN)
                <br />
            }

            Department of @Html.DisplayFor(modelItem => item.Department.Name)
            <br />

            @if (User.IsInRole("admin"))
            {
                using (Html.BeginForm("Delete", "Professors", FormMethod.Post, new { id = "delete" + item.Id + "Form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id", item.Id)

                    <a href="/Professors/Edit/@item.Id" class="btn btn-primary btn-sm"
                       title="Edit @item.Name"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="javascript:document.getElementById('delete@(item.Id)Form').submit()" title="Delete @item.Name"
                       class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-floppy-remove"></span></a>
                }
            }
            <br />
        </div>
    }
</div>
