@model IPagedList<Student>

@{
    ViewBag.Title = "Students";
    ViewBag.Lead = "";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/elements/btn-submitter.js")
    @Scripts.Render("~/Scripts/app/ajax/search.js")
}

@Html.Partial("_Title")

<div class="row">
    <div class="col-md-10">
        @Html.Partial("_Search", "/Students")
    </div>
    <div class="col-md-2 text-right">
        @if (User.IsInRole("admin"))
        {
            <a href="@Url.Action("Create")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create student</a>
        }
    </div>
</div>

<div id="list-search">
    @Html.Partial("_List", Model)
</div>
