@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Demosthenes</h1>
    <p class="lead">Academic management system.</p>
    <p>
        <a href="/Home/About" class="btn btn-primary btn-lg">Learn more &rarr;</a>

        @if (!User.Identity.IsAuthenticated)
        {
            <a href="/Account/Register" class="btn btn-success btn-lg">Register</a>
        }
        else if (ViewBag.EnrollableClasses > 0)
        {
            @Html.ActionLink("Enroll at classes", "Enroll", "Classes", null, new { @class = "btn btn-lg btn-success", title = "Some classes are opened for enrollment." })
        }
    </p>
</div>
<div class="row">
    @foreach (Demosthenes.Core.Models.Post post in ViewBag.posts)
    {
        <div class="col-lg-6 col-md-12">
            <h2>@Html.ActionLink(post.Title, "Details", "Posts", new { Id = post.Id }, null)</h2>
            <p>
                <a href="#"><span class="glyphicon glyphicon-user"></span></a>
                @post.Author.UserName,
                <small>@post.DateCreated</small>.
            </p>
            <p>@post.Body</p>
        </div>
    }
</div>
<br />
<div class="row">
    <div class="col-md-12 col-lg-12">
        <h2>Universities</h2>
        <p>
            Fast and scalable academic data management.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &rarr;</a></p>
    </div>
    <div class="col-md-12 col-lg-12">
        <h2>Professors</h2>
        <p>
            Simplicity and organization through your terms.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &rarr;</a></p>
    </div>
    <div class="col-md-12 col-lg-12">
        <h2>Students</h2>
        <p>
            Easy class enrollment and time manager.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &rarr;</a></p>
    </div>
</div>